@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
	--dark-grayish-blue: hsl(218, 23%, 16%);
}

body {
	margin: 0;
	font-family: "Manrope", sans-serif;
	background-color: var(--dark-grayish-blue);
}
